.divider {
    border: none;
    border-top: 2px solid gray; /* Thickness and color of the line */
    margin: 10px 0; /* Add spacing around the line */
    width: 160%; /* Span across the container */
    color: white;
}

.noteBlock {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width:50%;
}
  
.classTitle {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
    color: white;
}
  
  
.note_placeholder {
    display: flex; /* Keeps images side-by-side on larger screens */
    gap: 10px; /* Space between images */
    flex-wrap: nowrap; /* Prevents images from wrapping */
    overflow: hidden; /* Hides any extra images that don't fit */
    width:150%
}

.note{
    width: 100px; /* Adjust size as needed */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures image fits within dimensions */
    margin-right: 1vw;
}
/* 
@media (max-width: 768px) {
    .note_placeholder {
      display: block; 
    }
    .note:not(:first-child) {
      display: none;
    }
  } */
  