.dashboard-features {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}
.search-features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px; 
    margin-top: 5vh;
    margin-left: 150px;
    margin-right:150px;
}

.search-input {
    margin: 0;
    height: 6vh;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 70%;
    box-sizing: border-box; 
    border: none;
}

.filter,
.edit {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: black;
  border-radius: 10px;
  height: 6vh; 
  width: 6vh; 
  box-sizing: border-box; 
  padding: 0; 
}

.filter-logo,
.edit-logo {
  max-height: 70%; 
  max-width: 70%; 
  object-fit: contain; 
}

.notes-grid {
    color: #e5e7eb; 
    display: flex;
    flex-wrap: wrap; 
    gap: 2vw; 
    margin-top: 5vh;
    margin-left:150px;
    margin-right:150px; */
    width: 90%; 
}

.recent-notes,
.class-notes {
  flex: 1 1 48%; /* takes up 48% of the parent width */
  max-width: 600px; 
  min-width: 300px; 
  height: auto; 
  padding: 20px;
  box-sizing: border-box;
}

.recent-notes {
  margin-right: 0; 
  background: rgb(255 255 255 / 35%);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .recent-notes,
  .class-notes {
    flex: 1 1 100%; /* full width for smaller screens */
  }
}

.recent-notes-text{
    color: white;
    padding: 10px 25px 25px 25px;
}

.placeholder-note{
    max-width: 100%;
    margin-bottom: 6vh;
}

.placeholder-note-recent{
  max-width: 100%;
  margin-bottom: 1px;
}