.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: rgba(245, 245, 245, 0.58);
}

.sign-in-container > img {
    max-height: 25vh;
    max-width: 100%;
}

.sign-in-error {
    color: #da6060; /* Random error color for now */
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
}

.sign-in-form > form > input {
    font-family: inherit;
    color: inherit;
    background-color: rgba(109, 113, 168, 0.37);
    border-radius: 50px;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    max-width: 70vw;
    padding: 1.5rem 1rem;
}

.sign-in-form > form > input::placeholder {
    letter-spacing: 15px;
    font-size: 75px;
}

.forgot-password {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 3.2px;
}

.google-login {
    text-decoration: underline;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 4px;
}

/* Remove autofill color from browser */
/* Source: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
/* Unfortunately this makes it match the background color and should probably change */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}
