.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
}

.formInput {
    font-family: inherit;
    color: inherit;
    background-color: rgba(109, 113, 168, 0.37);
    border-radius: 20px;
    border: 2px white solid;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    max-width: 70vw;
    padding: 1.5rem 1rem;
}

.formInput:focus {
    border: 2px white solid;
}

.formInput::placeholder {
    font-weight: bold;
}

.formSubmit {
    padding: 1rem 2rem;
    background: black;
    border: 2px white solid;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    transition: color;
    transition-duration: 200ms;
    cursor: pointer;
}

.formSubmit:hover {
    background: #232323;
}

/* Remove autofill color from browser */
/* Source: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
/* Unfortunately this makes it match the background color and should probably change */
.formInput:-webkit-autofill,
.formInput:-webkit-autofill:hover,
.formInput:-webkit-autofill:focus,
.formInput:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}
